* { /*Resetando alguns estilos*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {  /*Estilizando o body*/
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {    /*Estilizando o primeiro container*/
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {  /*Estilizando a div da imagem do telefone*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {  /*Alterando o tamanho da imagem do telefone*/
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {    /*Estilizando os dois container da direita*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {   /*Pegando o primeiro filho de group*/
    min-height: 19rem;
}

.instagram-logo {   /*Estilizando a logo*/
    height: 3rem;
}

.profile-photo {    /*Estilizando a foto de perfil*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {    /*Alterando o tamanho da foto de perfil*/
    height: 6rem;
}

.instagram-login {  /*Estilizando o botão de login*/
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout { /*Estilizando o botão de logout*/
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {  /*Estilizando a informação de not-account*/
    color: rgb(160, 160, 160);
}

.link-blue {    /*Estilizando os botões de alteração de conta*/
    color: #0095f6;
}

.get-the-app {  /*Estilizando a div de 'baixe o aplicativo'*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download { /*Estilizando a div de 'baixe o aplicativo'*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download { /*Estilizando a div dos botões de download*/
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {    /*Pegando o primeiro filho de download*/
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {    /*Pegando o segundo filho de download*/
    background-image: url('./img/googleplay-button.png');
}

/*Deixando a tela responsiva*/


@media (max-width: 1024px) {    /*Deixando a tela responsiva para Tablets*/
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) { /*Deixando a tela responsiva para smartphones*/
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}